USE [master]
GO
/****** Object:  Database [AntojosUPBdb]    Script Date: 9/04/2026 11:27:54 p. m. ******/
CREATE DATABASE [AntojosUPBdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AntojosUPBdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AntojosUPBdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AntojosUPBdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AntojosUPBdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AntojosUPBdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AntojosUPBdb]
GO
/****** Object:  Table [dbo].[CATEGORIAVENDEDOR]    Script Date: 9/04/2026 11:27:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAVENDEDOR](
	[IdCategoriaV] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoriaV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 9/04/2026 11:27:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreClient] [nvarchar](150) NOT NULL,
	[IdUser] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIASSEMANA]    Script Date: 9/04/2026 11:27:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIASSEMANA](
	[IdDia] [int] IDENTITY(1,1) NOT NULL,
	[NombreDia] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOSV]    Script Date: 9/04/2026 11:27:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOSV](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[IdDia] [int] NOT NULL,
	[IdVendedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLUSUARIO]    Script Date: 9/04/2026 11:27:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLUSUARIO](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 9/04/2026 11:27:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Contrasena] [nvarchar](150) NOT NULL,
	[FechaRegis] [datetime]NOT NULL CONSTRAINT DF_USUARIOS_FechaRegis DEFAULT GETDATE(),
	[IdRol] [int] NOT NULL,
	[telefono] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDORES]    Script Date: 9/04/2026 11:27:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDORES](
	[IdVendedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreNegocio] [nvarchar](150) NOT NULL,
	[DescripcionNeg] [nvarchar](max) NULL,
	[ContactoVen] [varchar](120) NOT NULL,
	[IdCategoriaV] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[NombrePropietario] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USUARIOS] ([IdUser])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_Clientes_Usuarios]
GO
ALTER TABLE [dbo].[HORARIOSV]  WITH CHECK ADD  CONSTRAINT [FK_HORARIOS_DIA] FOREIGN KEY([IdDia])
REFERENCES [dbo].[DIASSEMANA] ([IdDia])
GO
ALTER TABLE [dbo].[HORARIOSV] CHECK CONSTRAINT [FK_HORARIOS_DIA]
GO
ALTER TABLE [dbo].[HORARIOSV]  WITH CHECK ADD  CONSTRAINT [FK_HORARIOS_VENDEDORES] FOREIGN KEY([IdVendedor])
REFERENCES [dbo].[VENDEDORES] ([IdVendedor])
GO
ALTER TABLE [dbo].[HORARIOSV] CHECK CONSTRAINT [FK_HORARIOS_VENDEDORES]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_RolUsuario_Usuarios] FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROLUSUARIO] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_RolUsuario_Usuarios]
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD  CONSTRAINT [FK_Vendedores_Categoria] FOREIGN KEY([IdCategoriaV])
REFERENCES [dbo].[CATEGORIAVENDEDOR] ([IdCategoriaV])
GO
ALTER TABLE [dbo].[VENDEDORES] CHECK CONSTRAINT [FK_Vendedores_Categoria]
GO
ALTER TABLE [dbo].[VENDEDORES]  WITH CHECK ADD  CONSTRAINT [FK_Vendedores_Usuarios] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USUARIOS] ([IdUser])
GO
ALTER TABLE [dbo].[VENDEDORES] CHECK CONSTRAINT [FK_Vendedores_Usuarios]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [CHK_Nombre_Formato] CHECK  ((NOT [NombreClient] like '%[^a-zA-ZáéíóúÁÉÍÓÚüÜñÑ ]%' AND len([NombreClient])>=(2)))
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [CHK_Nombre_Formato]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [CHK_Email_Formato] CHECK  (([Email] like '%_@%_._%' AND NOT [Email] like '%[^a-z0-9._-]%@%' AND NOT [Email] like '%@%[^a-z0-9.-]%'))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CHK_Email_Formato]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [CHK_Telefono_Formato] CHECK  ((len([telefono])=(10) AND [telefono] like '3[0-5]%' AND NOT [telefono] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CHK_Telefono_Formato]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [CK_ContrasenaVen] CHECK  ((len([Contrasena])>=(8)))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CK_ContrasenaVen]
GO
USE [master]
GO
